.topo {
  padding-top: 1rem;
  background: white;
  min-height: 5rem;
}

.input {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input input {
  width: 20rem;
  height: 1.5rem;
}

.input button {
  height: 1.9rem;
  background-color: rgb(41, 35, 35);
  color: white;
}

.topo ul {
  list-style-type: none;
  margin-left: 10rem;
  margin-bottom: 5rem;
  width: 50rem;
}

.topo ul li {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.5rem;
  border-bottom: 1px solid gray;
}
